httpx==0.22.0
websocket-client==1.2.3
jieba==0.42.1
zhon==1.1.5
pyyaml==6.0
pathlib==1.0.1
requests==2.27.1
tencentcloud-sdk-python==3.0.579
graia-ariadne[graia]
Pillow==9.0.1
graiax-silkcoder[ffmpeg]
dnspython
loguru